.login-container {
  background-color: #ffffff;
  color: #222;
  padding: 40px;
  border-radius: 15px;
  width: 400px;
  margin: 60px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container label {
  display: block;
  margin-top: 10px;
  color: #333;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fafafa;
  color: #222;
}

button {
  background-color: #4e8ef7;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}

button:hover {
  background-color: #336ed1;
}
